.text_1 {
  @include animation(opacity-animove 2s ease-in-out 0s forwards);
}

.text_2 {
  @include animation(opacity-animove 2s ease-in-out 1.8s forwards);
}

.text_3 {
  @include animation(opacity-animove 2s ease-in-out 3.8s forwards);
}

.p-space {
  @include animation(opacity-ani 1.5s ease-in-out 5s forwards);
}

.seed2::before,
.seed3::after {
  @include animation(opacity-ani 2s ease-in-out 4.8s forwards);
}

.masking {
  background-position: center;
  @include animation(clip-ani 2s ease-in-out 5.2s infinite);
  @include transition (background-image 0.5s ease);
      opacity: 1;
    background-size: cover;
        -webkit-background-clip: text;
           background-clip: text;
}

@include keyframes (opacity-animove) {
  0% {
    opacity: 0;
    @include transform(translate(2px, -40px));
  }
  100% {
    opacity: 1;
    @include transform(translate(0px, 0px));
  }
}

@include keyframes (opacity-ani) {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@include keyframes (clip-ani) {
  0% {
    opacity: 1;
      @include background-image(url("../img/1.jpg"));
    color:transparent;
  }
  33% {
    opacity: 1;
    @include background-image(url("../img/2.jpg"));
      color:transparent;
  }
  66% {
    opacity: 1;
  @include background-image(url("../img/3.jpg"));
    color:transparent;
  }
  100% {
    opacity: 1;
    @include background-image(url("../img/3.jpg"));
    color:transparent;
  }
}