@import "../bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap-sprockets";
@import "../bower_components/flexslider/flexslider.css";
@import "../bower_components/font-awesome/css/font-awesome.min.css";
@import "../bower_components/fancyBox/source/jquery.fancybox.css";
@import "../bower_components/swiper/dist/css/swiper.min.css";
@import "../bower_components/smart-app-banner/smart-app-banner.css";
@import 'https://fonts.googleapis.com/css?family=Rubik:300,400,700';

/* Bootstrap Variables Goes Here */

$brand-primary: #0d9dff !default;
$brand-success: #84ce3c !default;
$brand-warning: #ffec39 !default;
$brand-danger: #fc483f !default;
$brand-info: #000072 !default;
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
body {
    // padding-top: 70px;
    background: radial-gradient(circle at 50%, #ffffff, #eaeaea, #dcdcdc);
    height: 100vh;
    overflow: hidden;
}

img.loading {
    text-align: center;
    opacity: 1;
    width: 32px !important;
    height: auto;
}

img {
    opacity: 0;
    @include transition(all 300ms ease);
}

img.doneLoading {
    opacity: 1;
}

nav li:hover .dropdown-menu {
    display: block;
}

.navbar-default {
    background-color: transparent;
    border-color: transparent;
}

#map img {
    opacity: 1;
}

a,
.btn,
[ui-sref] {
    cursor: pointer;
    @include transition(all ease 300ms);
}

footer {
    font-size: 12px;
    background-color: #eee;
    padding: 10px 0;
    p {
        margin: 0;
    }
}

//bootstrap forms
.input-lg,
.input-group-lg>.form-control,
.input-group-lg>.input-group-addon,
.input-group-lg>.input-group-btn>.btn,
.btn,
.form-control {
    border-radius: 0;
    @include box-shadow(none);
}

.form-control:focus {
    border-color: $brand-primary;
    outline: 0;
    @include box-shadow(none);
}

.form-group {
    position: relative;
}

.form-invalid {
    color: $brand-danger;
    .form-control {
        border-color: $brand-danger;
        color: $brand-danger;
    }
}

.form-submission {
    min-height: 300px;
}

//FLEX SLIDER FIXES
.flex-direction-nav {
    a {
        height: auto;
    }
    .flex-prev {
        left: 10px !important;
    }
    .flex-next {
        right: 10px !important;
    }
}

//SWIPER CSS
.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
    background-image: url(../img/prev.png);
}

.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
    background-image: url(../img/next.png);
}


/* Start writing sass here */

.content {
    min-height: 450px;
}

.full-img {
    width: 100%;
    display: block;
}

.anim-list {
    font-family: Rubik;
    list-style-type: none;
    text-transform: uppercase;
    font-size: 125px;
    font-weight: 700;
    line-height: 100px;
    letter-spacing: 5px;
    color: #ffffff;
    text-shadow: 0px 7px 5.46px rgba(171, 171, 171, 1);
    li.masking {
        // background-image: url("../img/bg-image.jpg");
        background-position: -78px 967px;
        background-size: cover;
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }
}

.foot-txt {
    font-size: 18px;
}

.main-sec {
    margin-top: 20px;
    p {
        color: #393334;
        font-family: rubik;
        letter-spacing: 1px;
        line-height: 30px;
        font-size: 28px;
        font-weight: 300;
        padding: 0 56px;
        span {
            font-weight: 500;
        }
    }
}

.icons-bg {
    border-radius: 50%;
    background-color: #ffffff;
    margin-right: 7px;
    width: 35px;
    height: 35px;
    cursor: pointer;
    @include transition (all ease 300ms);
    &:hover {
        .fa {
            color: #ffffff;
        }
        background-color: #000000;
    }
}

.sl-icons {
    font-size: 21px;
    color: #795f4e;
    line-height: 36px;
}

.foot {
    // position: fixed;
    // bottom: 70px;
    padding-top: 1px;
    background: transparent;
    width: 100%;
    // padding: 0 300px;
}

// p {
//     font-family: rubik;
//     letter-spacing: 1px;
//     font-size: 38px;
//     font-weight: 300;
//     span {
//         font-weight: 500;
//     }
// }
.seed1 {
    position: absolute;
    left: 435px;
    top: 0px;
}

.seed2::before {
    content: url("../img/rsz_seed2.png");
    height: 15px;
    width: 15px;
    position: absolute;
    left: -48px;
    top: 14px;
}

.seed3::after {
    content: url("../img/rsz_seed3.png");
    height: 15px;
    width: 15px;
    position: absolute;
    bottom: 42px;
    right: 310px;
}

.cent {
    position: relative;
    margin: 0 auto;
    width: 900px;
}

.p-space {
    padding: 15px 0;
}

.comp-logo {
    width: 250px;
}

@import "fancybox-override";
@import "mobile";