<div class="container">
    <div class="position-center">
    <div class="main-sec">
        <div class="row">
            <div class="col-md-12">
                <p>There are agencies and <span>then, <br>there are agencies.</span></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="cent">
                    <!--<ul class="anim-list">
                        <li class="seed2 masking">We Choose</li>
                        <li class="masking">To be the</li>
                        <li class="seed3 masking">latter.</li>
                    </ul>-->
                    <ul class="anim-list">
                        <li class="seed2 seed3 masking">
                            <span class="text_1"><span class="masking">We Choose</span></span>
                            <span class="text_2"><span class="masking">To be the</span></span> 
                            <span class="text_3"><span class="masking">latter.</span></span>
                            </li>
                    </ul>

                </div>
            </div>
        </div>
        <div class="p-space">
            <p class="text-center">We're busy aging like <span>wine.</span></p>
        </div>
    </div>
</div>
</div>