<div class="container">
    <div class="main-sec">
        <div class="row">
            <div class="col-md-6">
                <p>There are agencies and <span>then, <br>and then there are agencies</span></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-md-offset-1">
                <ul class="anim-list">
                    <li>We Choose</li>
                    <li>To be the</li>
                    <li>latter.</li>
                </ul>
            </div>
        </div>
        <div>
            <p class="text-center">We're busy aging like <span>wine.</span></p>
        </div>
    </div>

</div>