<footer class="foot">
    <div class="container">
        <div class="row">
            <!--<div class="col-md-6">
                <p>Copyright &copy; {{template.year}}. All Right Resvered.</p>
            </div>-->
            <div class="col-md-12">

                <!--<p>Developed by <a href="http://www.wohlig.com" target="_blank">Wohlig Technology</a>.</p>-->
                <!--<p> </p>-->
                <ul class="inline list-unstyled list-inline text-center">
                    <li class="foot-txt">Follow us on:</li>
                    <li class="icons-bg">
                        <a class="sl-icons" href="https://www.linkedin.com/company/yellow-seed-content-solutions" target="_blank"><i class=" fa fa-linkedin " aria-hidden="true "></i></a>
                    </li>
                    <li class="icons-bg"><a class="sl-icons" href="https://twitter.com/itsyellowseed" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</footer>